<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id = "preProcessorToUpperImpl"
        class = "edu.school21.spring.preprocessor.PreProcessorToUpperImpl">
    </bean>
    <bean id = "printerWithPrefixImpl"
          class = "edu.school21.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg ref = "rendererErrImpl"/>
    </bean>
    <bean id = "rendererErrImpl"
          class = "edu.school21.spring.renderer.RendererErrImpl">
        <constructor-arg ref = "preProcessorToUpperImpl"/>
    </bean>


    <bean id = "preProcessorToLowerImpl"
          class = "edu.school21.spring.preprocessor.PreProcessorToLowerImpl">
    </bean>
    <bean id = "rendererStandardImpl"
          class = "edu.school21.spring.renderer.RendererStandardImpl">
        <constructor-arg ref = "preProcessorToLowerImpl"/>
    </bean>
    <bean id = "printerWithDateTimeImpl"
          class = "edu.school21.spring.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref = "rendererStandardImpl"/>
    </bean>


</beans>